.header {
    margin-top: .5rem;
    /*padding-left: 10px;*/
    background-color: #262626;
}

.header ul li {
    list-style: none;
    margin: 0;
    padding: .5rem 1rem;
    border-radius: 3px;
}

.header ul li:hover {
    background-color: #444;
}

.header a:hover {
    text-decoration: none;
}

.header h3 a {
    color: #ffffff;
}

.header h3 a:hover {
    color: #00bc8c;
}

.header .segment {
    margin-left: 10px;
    margin-top: 15px;
}

.header .button-panel {
    margin-top: 10px;
}

.header .search-input {
    width: 35rem;
    flex-grow: 1;
    margin-top: 15px;
    margin-left: 10px;

}

.header .button-search {
    margin-top: 10px;
    margin-bottom: 4rem;
    margin-right: 5px;
    margin-left: 5px
}

.header .button-cabinet {
    margin-bottom: 3rem;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;
}
